.gen_cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.gen_cards a {
    color: #64968c;
    text-decoration: none;
}

.gen_card {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.gen_card__image {
    width: 100%;
    display: block;
}
.gen_card__content {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: #fafafa;
}
.gen_card__content > p:first-of-type {
    margin-top: 0;
}
.gen_card__content > p:last-of-type {
    margin-bottom: 0;
}

.gen_card__info {
    padding: 5px;
    justify-content: space-between;
    text-align: center;
    color: #555555;
    background: #eeeeee;
}