{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Optimus X | {{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'card.css' %}">
    <script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    {% include "components/navbar.html" %}
    <div class="container">
        <h1>{{ title }}</h1>
        {% block main %}
            <hr>
            <h3>This info is not available yet</h3>
        {% endblock main %}
    </div>


</body>
</html>
