{% extends 'base.html' %}
{% load static %}

{%block main %}
<form method="POST" class="post-form" action="/emp">
        {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Enter Details</h3>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Blade Id:</label>
    <div class="col-sm-4">
      {{ form.id }}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Blade Name:</label>
    <div class="col-sm-4">
      {{ form.name }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Blade Length:</label>
    <div class="col-sm-4">
      {{ form.length }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Blade Weight:</label>
    <div class="col-sm-4">
      {{ form.weight }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
    </div>
</form>
{% endblock main %}